{% extends 'adminparent.html' %}

{% block body %}

<h2 class="text-center ">Change admin Password</h2>
{% if msg %}
<p class="text-light text-center">{{msg}}</p>
{% endif %}
<form class="form-group" action="" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>Enter Old Password</td>
            <td><input type="password" class="form-control"  name="oldpassword" id=""></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" class="form-control"  name="newpassword" id=""></td>
        </tr>
        <tr>
            <td>Confirm New Password</td>
            <td><input type="password"  class="form-control" name="conpassword" id=""></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" class="form-control bg-success" name="" id=""></td>
        </tr>
    </table>
</form>

{% endblock body %}